<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart Login Form Responsive Widget Template</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--    vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--    iview-->
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all">
<body>
    <div id="app">
        <!--header-->
        <div class="agileheader">
            <h1></h1>
        </div>
        <!--//header-->
        <!--main-->
        <div class="main-w3l">
            <div class="w3layouts-main">
                <h2>立即注册</h2>
                    <span>用户昵称</span>
                    <input v-model="userId" name="userId" type="text" placeholder="请输入昵称"/>
                    <span>登录账号</span>
                    <input v-model="userName" name="userName" maxlength="11" type="text" placeholder="请输入手机号"/>
                    <span>设置密码</span>
                    <input v-model="userPwd" name="userPwd" type="password" placeholder="请输入密码"/>
                    <span>密码确认</span>
                    <input v-model="checkUserPwd" name="checkUserPwd" type="password" placeholder="请再次确认密码"/>
                    <input type="submit" value="登录" name="login" @click="toLogin">
                    <input type="submit" value="注册" name="login" @click="toRegister">


            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer-w3l">
            <p>&copy; Website author little devil. 2020 </a>
            </p>
        </div>
        <!--//footer-->
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                userId:"",
                userName:"",
                userPwd:"",
                checkUserPwd:"",
            },
            methods:{
                toRegister(){
                    var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
                    if(this.userName == '' || this.userPwd == '' || this.userId =='' || this.checkUserPwd == "") {
                        this.$Message.info('请输入完整信息');
                    }else if(!myreg.test(this.userName)) {
                        this.$Message.info('请输入正确的手机号');
                    }else if(this.userPwd != this.checkUserPwd){
                        this.$Message.info('两次输入的密码不一致');
                    }else{
                        const that =this;
                        axios.post("/register",
                                {
                                    userId: that.userId,
                                    userName: that.userName,
                                    userPwd: that.userPwd
                                }
                            ).then (function (res) {
                            if(res.data.code==0){

                                window.location.href='../login.html';
                            }else{
                                that.$Message.info(res.data.msg);
                            }
                        })
                    }
                 },
                toLogin(){
                    window.location.href='../login.html';
                }
            }
        })

    </script>
</body>
</html>
